*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    width: 100%;
    height:auto;
}
#name{
border-radius: 50%;
background-color:red;
width:40px;
height:40px;
text-align: center;
top: 12px;
left: 10px;
position: fixed;
align-items: center;
justify-content: center;
display: flex;
}
#box2{
width: 100%;
height:500px;
display: flex;
justify-content:space-evenly;
align-items: center;
}
#image{
width: 50%;
height: 100%;
display: flex;
justify-content:center;
align-items: center;
}
#profile{
width: 50%;
height: 100%;
color: white;
padding: 20px;
padding-top: 300px;
}
#image img{
width: 300px;
height: 280px;
border-radius: 50%;
}
#profile h2{
color: red;
padding: 10px;
}
#profile h1{
font-size: 50px;
padding: 10px;
}
#profile h3{
width: 400px;
padding: 10px;
color: red;
}
#option{
padding-top: 20px;
padding-left: 10px;
}
#option a{
border: 5px solid orange;
background-color: orange;
padding: 10px;
text-align: center;
border-radius: 20px;
color: black;
text-decoration: none;
padding-left: 10px;
margin-right: 10px;
}
#option a:hover{
background-color: white;
}
#footer{
border-top: 3px solid white;
display: flex;
color: white;
width: 100%;
height: auto;
bottom:15px;
position: fixed;
}
#logo{
width:30%;
padding-top: 10px;
height: auto;
justify-content: space-evenly;
display: flex;
align-items: center;
}
#copyright{
width: 70%;
}
#copyright h4{
float: right;
padding-top: 25px;
padding-right: 50px;
}
#navbar {
list-style-type: none;
margin: 0;
padding: 0;
padding-top: 20px;
padding-left: 50px;
}
#navbar li {
display: inline;
padding-top: ;
padding-top: 30px;
}
#navbar li a{
color:white;
font-weight: bold;
padding: 8px 16px;
text-decoration: none;
font-size: 20px;
padding-top: 10px;
font-family: 'Courier New', Courier, monospace;
}
#navbar li a:hover {
color: greenyellow;
border-bottom: 5px solid orangered;
}
@media(max-width: 800px) and (max-height:790px){
#footer{
    border: none;
    margin-top: 20px;
    width: 100%;
    position: relative;
}
#navbar{
    position:fixed;
}
#navbar li a{
    color: yellow;
}
#navbar li a:hover{
    color:red;
}
#logo,#copyright{
    border-top: 3px solid white;
}
}
@media(max-width: 800px){
#navbar{
    width: 100%;
}
#box2{
    display: block;    
}
#profile{
    padding-top: 0;
    width: 100%;
    height: auto;
    text-align: center;
    
}
#profile h3{
    width: 100%;
}
#image{
    width: 100%;
    padding-left: 20px;
}
#image img{
    margin: auto;
}
#footer{
    display: block;
}
#logo{
    width: 100%;
    border-bottom: 3px solid white;
    padding: 20px;
}
#copyright{
    padding: 20px;
    width: 100%;
}
#copyright h4{
    float: none;
    text-align: center;
}
#box2{
    height: auto;
}
#image {
    padding-top: 70px;
    height: auto;
}

}